[submodule "vendor/slippy"]
	path = vendor/slippy
	url = https://github.com/Seldaek/slippy.git
[submodule "vendor/syntax-highlighter"]
	path = vendor/syntax-highlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
